<footer class="footer" >
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <img src="assets/images/sun_logo.png" alt="">
        </div>
        <div class="col-sm-5">
          <span>About YogaApp</span> 
          <span>Contact Us</span>
          <span>Terms of Service</span>
          <span>Sitemap</span>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
          <!--<span>© copyright</span>-->
        </div>
      </div>
    </div>
  </footer>