<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-click="navbarVm.isCollapsed = !navbarVm.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="assets/images/sun_logo.png" style="width: 30px; height: 30px" alt="Image .." class="img"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" uib-collapse="navbarVm.isCollapsed">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in navbarVm.menuItemLeft">
          <a ui-sref="{{item.state}}">{{item.label}}</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if='navbarVm.menuItemRight' ng-repeat="item in navbarVm.menuItemRight">
          <a ui-sref="{{item.state}}">{{item.label}}</a>
        </li>
        <li uib-dropdown is-open="status.isopen" ng-if="navbarVm.loggedin">
          <a uib-dropdown-toggle ng-disabled="disabled">{{navbarVm.user.email || 'Guest'}}<svg><use xlink:href="assets/svgs/down-arrow.svg#downarrow"></use></svg></a>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem" ng-click="navbarVm.logOut()">Log Out</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>