/* line 3, /Users/abemenashy/Documents/practice/new_work/yoga/src/scss/global.scss */
h1 {
  color: red;
  font-size: 30px; }

/* line 8, /Users/abemenashy/Documents/practice/new_work/yoga/src/scss/global.scss */
footer {
  min-height: 200px;
  background-color: green;
  color: white; }
  /* line 12, /Users/abemenashy/Documents/practice/new_work/yoga/src/scss/global.scss */
  footer .container {
    padding: 40px 10px; }
    /* line 14, /Users/abemenashy/Documents/practice/new_work/yoga/src/scss/global.scss */
    footer .container img {
      width: 100%;
      max-width: 150px; }
    /* line 18, /Users/abemenashy/Documents/practice/new_work/yoga/src/scss/global.scss */
    footer .container span {
      font-size: 0.8em;
      padding: 6px;
      cursor: pointer; }
