 <div class="home">

  <div class="container">
    <!--<div class="title">
      <h1>welcome to the yoga app</h1>
      <h2>( tag line goes here )</h2> </div>-->
      
    <div class="content">
      <div class="inner-content">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
              <div class="explore__button"> 
                <!--<button class="btn" type="submit" >Explore</button> 
                <br> 
                <a >some other link</a> -->
                </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>