@import url('https://fonts.googleapis.com/css?family=Henny+Penny');


 $green: green;


 @mixin borderrounded($radius) {
   border-radius: $radius;
 }
 @mixin roundedbutton($color) {
    @include borderrounded(30px);
   background: $color;
   padding: 10px;
   border: 0;
 }


.home {
    height: 100vh;
    background-image: url('../../assets/images/yoga-back.png');
    background-size: cover;                   
    background-repeat: no-repeat;
    background-position:  center bottom; 
    background-size:  100% 100%;
    position: relative;
    .container {
        
        padding: 3em 0;
        .title{
            text-align: center; 
            
            h1 {
                font-size: 2em;
                font-weight: 600;
                color:$green;
                
            }
            h2 {
                font-size: 1.8em;
                color: #837f7f;
            }
        }
        .content {
            .inner-content{
                width: 100%;
                margin: 2em 0;

                 input {
                     text-align: center;
                     font-size: 1.2em;
                     padding: 10px;
                     
                    //  @include borderrounded(10px);
                    //  position: relative;
                 }
                 .explore__button{
                     text-align: center;
                     margin: 80px 0;
                     button {
                        @include roundedbutton($green);
                        color: #fff;
                        margin: 0px auto 20px;
                        padding: 14px 46px;
                        font-size: 1.2em;
                        &:focus {
                            outline: 0;
                        }
                     }
                     a{
                         color: #837f7f;
                         margin-bottom: 10px;


                     }
                 }
            }
        }
    }
}
