 <div class="home" style="position: relative">
    <div style="position: absolute;   top: 15%">
    <h1>Yoga For Kids</h1>
  </div>
   <div style="position: absolute; left: 35%; bottom: 15%">
    <img style="width: 70%" src="../../assets/images/bear_03.png" alt="">
  </div>

  <div style="position: absolute; left: 15%; bottom: 15%">
    <img style="width: 70%" src="../../assets/images/elephant_03.png" alt="">
  </div>

  <div style="position: absolute; left: 50%; bottom: 15%">
    <img style="width: 70%" src="../../assets/images/lion_03.png" alt="">
  </div>

  <div style="position: absolute; right: 25%; bottom: 23%">
    <img style="width: 60%" src="../../assets/images/hippo_03.png" alt="">
  </div>
  <div class="container">
    <!--<div class="title">
      <h1>welcome to the yoga app</h1>
      <h2>( tag line goes here )</h2> </div>-->
       
    <div class="content">
      <div class="inner-content">
       
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
              <div class="explore__button"> 
                
                <!--<button class="btn" type="submit" >Explore</button> 
                <br> 
                <a >some other link</a> -->
                </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>