 <div class="home" style="position: relative">
    <div style="position: absolute; left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 700px;   top: 10%;font-family: 'Henny Penny', cursive;">
        <h1 style="color: white; font-size: 100px;text-align: center;">Yoga For Kids</h1>
        <h2 style="text-align: center;">have fun and do yoga</h2>
  </div>
  <div style="position: absolute; left: 0%; bottom: 0%; z-index: 1">
    <img style="width: 75%" src="../../assets/images/tree.png" alt="">
  </div>
   <div style="position: absolute; left: 35%; bottom: 15%">
    <img style="width: 70%" src="../../assets/images/bear_03.png" alt="">
  </div>

  <div style="position: absolute; left: 15%; bottom: 15%">
    <img style="width: 70%" src="../../assets/images/elephant_03.png" alt="">
  </div>

  <div style="position: absolute; left: 50%; bottom: 15%">
    <img style="width: 70%" src="../../assets/images/lion_03.png" alt="">
  </div>

  <div style="position: absolute; right: 25%; bottom: 23%">
    <img style="width: 60%" src="../../assets/images/hippo_03.png" alt="">
  </div>

</div>