 <div class="contact">
     <div style="position: absolute; left: 15%; bottom: 5%">
    <img style="width: 100%" src="../../assets/images/elephant-warrior_03.png" alt="">
  </div>
  <div class="container">
      
    <div class="content">
      <div class="contact--form">
        <div class="row">
          <!--<div class="col-md-8">
            <div class="title">
              <h1>this is the approach page</h1>
              <h3>we will get in touch with you as soon as possible</h3>
              
            </div>
          </div>-->

        </div>
      </div>
    </div>
  </div>
 </div>