 <div class="contact">
   <yoga-nav></yoga-nav>
     <div style="position: absolute; left: 15%; bottom: 5%">
    <img style="width: 100%" src="../../assets/images/elephant-warrior_03.png" alt="">
  </div>
  <div class="container">
      
    <div class="content">
      <div class="contact--form">
        <div class="row">
          -<div class="col-md-offset-6 col-md-6">
            <div class="title">
              <h1>Our Approach</h1>
              <h3>Yoga and Music-a wonderful combination to help kids feel their best. Here at Yogaflo4kids it's all about teaching kids effective ways to feel good about who they are. They will learn various yoga poses, calming breathing strategies and most importantly have a blast! Our trained teacher has a yoga teaching certification to meet every child's needs.</h3>
              
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
 </div>